/* Estilos generales */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo img {
  max-height: 50px;
}

.app-name {
  margin: 0;
}

.menu-icon {
  font-size: 2em;
  cursor: pointer;
}

/* Estilos para el menu */
nav {
  width: 100%;
}

.menu-options-desktop {
  display: flex !important;
  justify-content: flex-end;
}

.menu-options-mobile {
  display: none; /* Ocultamos el menú por defecto */
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 100;
}

.menu-options-mobile.open {
  display: flex !important; /* Mostramos el menú cuando tiene la clase open */
  flex-direction: column; /* Alineamos los elementos en columna */
}


nav ul {
  list-style: none;
  padding: 0;
    margin: 0;
    flex-direction: column; /*Alineamos los elementos en columna */
}

nav ul li {
  padding: 5px 0;
  position: relative;
    display: block; /* Aseguramos que los li sean bloques */
}

nav ul li a {
  color: #FABC16; /* Añadimos el color amarillo al texto del link */
  text-decoration: none; /* Quitamos el subrayado del link */
}

/* Estilos Submenu */
.sub-menu {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 101;
  display: flex;
  flex-direction: column;
}

.sub-menu li {
  padding: 5px 10px;
}

.sub-menu li a {
  color: #FABC16; /* Añadimos el color amarillo al texto del link del submenu */
  text-decoration: none; /* Quitamos el subrayado del link */
}



/* Pantallas grandes: menú siempre visible */
@media (min-width: 992px) {
  .menu-options-mobile {
    display: none; /* Ocultamos el menú móvil */
  }
  nav ul li {
      margin-right: 20px;
     padding: 0;
  }
  .menu-icon {
    display: none;
 }
}